.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.folder-list {
    list-style-type: none;
}

.addnotelink {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.addnotelink:hover {
    background-color: lightblue;
}

.addnotebutton {
    margin-top: 20px;
}
