.folder-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folder-link {
    list-style-type: none;
    text-align: center; 
    margin-bottom: 5px;
    text-decoration: none;
}

.sidebarlink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width: 150px;
    padding: 20px;
}

.sidebarlink.active {
    background-color: lightblue;
}

.addfolderlink {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.addfolderlink:hover {
    background-color: lightblue;
}

.addfolderbutton {
    margin-top: 10px;
}
